<?xml version="1.0" encoding="utf-8" ?>
<DaoConfig>
  <Items>
    <!--<Item key="DrawDb">server=.;user id=sa;password=bb9f692wsxE#EDC$RFV3;persistsecurityinfo=True;database=ScorpioDraw_Test;</Item>
    <Item key="BetDb">server=.;user id=sa;password=bb9f692wsxE#EDC$RFV3;persistsecurityinfo=True;database=ScorpioBet_Test;</Item>
    <Item key="UserDb">server=.;user id=sa;password=bb9f692wsxE#EDC$RFV3;persistsecurityinfo=True;database=ScorpioUser_Test;</Item>-->

    <Item key="DrawDb">server=114.215.144.158;user id=sa;password=cyp*&amp;^)311.#WHY;persistsecurityinfo=True;database=ScorpioDraw_Test;</Item>
    <Item key="BetDb">server=114.215.144.158;user id=sa;password=cyp*&amp;^)311.#WHY;persistsecurityinfo=True;database=ScorpioBet_Test;</Item>
    <Item key="UserDb">server=114.215.144.158;user id=sa;password=cyp*&amp;^)311.#WHY;persistsecurityinfo=True;database=ScorpioUser_Test;</Item>
  </Items>
</DaoConfig>